[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
uvicorn = "*"
fastapi = "*"
python-multipart = "*"
sqlmodel = "*"
strawberry-graphql = "*"
pandas = "*"
httpx = "*"
pytest = "*"
phonenumbers = "*"

[dev-packages]

[requires]
python_version = "3.13"
